.button
{
	-fx-background-color: #00CC00;
}

.button:hover
{
	-fx-background-color: #019101;
	-GMSbutton-hover-color: #019101;
}

.hbox {
	-fx-background-color: #2f4f4f;
}

.table-view{
	-fx-alignment: center-right;
}

.table-cell {
     -fx-alignment: BASELINE_CENTER;
 }
 
 .table-view .table-cell{
    -fx-font-size:16px;

}